.root {
  padding: 4px 10px;
  border-radius: 10000px;
  color: white;

  font-size: 12px;
  line-height: 100%; /* 12px */

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}