.root {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  transition: ease-out 100ms;
}

.primary {
  @apply
  bg-yellow-300
  text-white
  hover:bg-yellow-400
  active:bg-yellow-500
  disabled:bg-yellow-200 disabled:text-yellow-50 disabled:cursor-not-allowed;
}

.secondary {
  @apply
  bg-gray-100
  text-gray-300
  hover:bg-gray-150 hover:text-gray-400
  active:bg-gray-200 active:text-gray-900
  disabled:bg-gray-100 disabled:text-gray-200 disabled:cursor-not-allowed;
}

.approve {
  @apply
  bg-green-300
  text-white
  hover:bg-green-300
  active:bg-yellow-500
  disabled:bg-yellow-200 disabled:text-yellow-50 disabled:cursor-not-allowed;
}

.deny {
  @apply
  bg-red-200
  text-white
  hover:bg-yellow-400
  active:bg-yellow-500
  disabled:bg-yellow-200 disabled:text-yellow-50 disabled:cursor-not-allowed;
}

.third {
  @apply
  bg-transparent
  text-gray-400
  hover:text-gray-500
  active:text-gray-500
  disabled:text-gray-200 disabled:cursor-not-allowed;
}

.large {
  gap: 10px;
  font-size: 20px;
  padding: 10px 12px;
  border-radius: 8px;
}

.medium {
  gap: 10px;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 6px;
}

.small {
  gap: 6px;
  font-size: 14px;
  padding: 4px 7px;
  border-radius: 4px;
}

