@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light !important;
  }
}

/* Применяем стили скроллбара ко всем элементам, а не только к body */
body, div, ul, ol, li, section, main, article, aside, nav, header, footer, pre, code {
  --sb-track-color: #efefef;
  --sb-thumb-color: #d4d4d4;
  --sb-thumb-hover-color: #C1C1C1;
  --sb-size: 6px;
}

/* Применяем стили ко всем скроллбарам */
*::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

*::-webkit-scrollbar-track {
  border-radius: 6px;
  background: var(--sb-track-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: var(--sb-thumb-color);
  &:hover {
    background: var(--sb-thumb-hover-color);
  }
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color)
    var(--sb-track-color);
    scrollbar-width: thin;
  }
}


:root {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: normal;

  color-scheme: only light !important;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/*button {*/
/*  border-radius: 8px;*/
/*  border: 1px solid transparent;*/
/*  padding: 0.6em 1.2em;*/
/*  font-size: 1em;*/
/*  font-weight: 500;*/
/*  font-family: inherit;*/
/*  background-color: #1a1a1a;*/
/*  cursor: pointer;*/
/*  transition: border-color 0.25s;*/
/*}*/
/*button:hover {*/
/*  border-color: #646cff;*/
/*}*/
/*button:focus,*/
/*button:focus-visible {*/
/*  outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

@media (prefers-color-scheme: light) {
  :root {
    color: #323232;
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #323232;
    background-color: #ffffff;
  }
}
