.monthView {
  display: grid;
  grid-auto-rows: minmax(20px, auto);
  grid-template-columns: repeat(31, 1fr);
  gap: 4px;
  position: relative;
}

.dayColumn {
  width: 50px;
  border: 1px solid #222;
  position: relative;
}

.dayHeader {
  padding: 8px 0;
  background-color: #999;
  text-align: center;
  font-weight: bold;
}

.eventCard {
  background-color: #4caf50;
  color: white;
  padding: 4px;
  margin-top: 4px;
  border-radius: 4px;
  font-size: 0.9em;
  text-align: center;
  display: block;
  white-space: nowrap;
}


.mainDiv {
  display: flex;
  flex-direction: column;
  //max-height: 300px;
  overflow-y: auto;
  min-height: 60vh;

  & div {
    @apply border-2 border-dashed border-black;
  }

  & > div {
    @apply border-2 border-dashed border-green-400;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(10, 1fr);

    &:not(:first-child) > div {
      @apply rounded-md bg-yellow-100 cursor-pointer hover:bg-yellow-200 transition duration-300 ease-in-out transform;

    }

  }

  //& > div:nth-last-child(1) {
  //  flex-grow: 1;
  //}
}